In [1]:
#Q1
if __name__ == '__main__':
    st = "Hello, World!"
    print(st)

Hello, World!

In [2]:
#Q2
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())
if n%2!=0:
    print("Weird")
elif n%2==0 and n in range(2,6):
    print("Not Weird")
elif n%2==0 and n in range(6,21):
    print("Weird")
elif n%2==0 and n>20:
    print("Not Weird")

4
Not Weird

In [4]:
#Q3
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

3
5
8
-2
15

In [5]:
#Q4
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

4
3
1
1.3333333333333333

In [6]:
#Q6
def is_leap(year):
    leap = False

    # Write your logic here
    if (year%4==0 and year%100!=0) or (year%400==0):
        leap = True
    return leap

year = int(input())
print(is_leap(year))

1600
True

In [7]:
#Q7
if __name__ == '__main__':
    n = int(input())
    for i in range(1,n+1):
        print(i,end="")

5
12345